In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('data_in/LOS-ANGELES-DOWNTOWN_722874_CZ2010.CSV', low_memory=False)

In [3]:
df.head()

,Date (MM/DD/YYYY),Time (HH:MM),ETR (W/m^2),ETRN (W/m^2),GHI (W/m^2),GHI source,GHI uncert (%),DNI (W/m^2),DNI source,DNI uncert (%),...,AOD source,AOD uncert (code),Alb (unitless),Alb source,Alb uncert (code),Lprecip depth (mm),Lprecip quantity (hr),Lprecip source,Lprecip uncert (code),PresWth (METAR code)
0,2004-01-01,1:00,0,0,0,?,0,0,?,0,...,NaN,NaN,NaN,NaN,NaN,0,1,B,8,0
1,2004-01-01,2:00,0,0,0,?,0,0,?,0,...,NaN,NaN,NaN,NaN,NaN,0,1,?,0,45
2,2004-01-01,3:00,0,0,0,?,0,0,?,0,...,NaN,NaN,NaN,NaN,NaN,0,1,?,0,5
3,2004-01-01,4:00,0,0,0,?,0,0,?,0,...,NaN,NaN,NaN,NaN,NaN,0,1,B,8,5
4,2004-01-01,5:00,0,0,0,?,0,0,?,0,...,NaN,NaN,NaN,NaN,NaN,0,1,B,8,45

In [4]:
df['date_time'] = df['Date (MM/DD/YYYY)'] + ' ' + df['Time (HH:MM)']

In [5]:
df.columns = df.columns.str.upper()

In [6]:
df.columns.tolist()

['DATE (MM/DD/YYYY)',
 'TIME (HH:MM)',
 'ETR (W/M^2)',
 'ETRN (W/M^2)',
 'GHI (W/M^2)',
 'GHI SOURCE',
 'GHI UNCERT (%)',
 'DNI (W/M^2)',
 'DNI SOURCE',
 'DNI UNCERT (%)',
 'DHI (W/M^2)',
 'DHI SOURCE',
 'DHI UNCERT (%)',
 'GH ILLUM (LX)',
 'GH ILLUM SOURCE',
 'GLOBAL ILLUM UNCERT (%)',
 'DN ILLUM (LX)',
 'DN ILLUM SOURCE',
 'DN ILLUM UNCERT (%)',
 'DH ILLUM (LX)',
 'DH ILLUM SOURCE',
 'DH ILLUM UNCERT (%)',
 'ZENITH LUM (CD/M^2)',
 'ZENITH LUM SOURCE',
 'ZENITH LUM UNCERT (%)',
 'TOTCLD (TENTHS)',
 'TOTCLD SOURCE',
 'TOTCLD UNCERT (CODE)',
 'OPQCLD (TENTHS)',
 'OPQCLD SOURCE',
 'OPQCLD UNCERT (CODE)',
 'DRY-BULB (C)',
 'DRY-BULB SOURCE',
 'DRY-BULB UNCERT (CODE)',
 'DEW-POINT (C)',
 'DEW-POINT SOURCE',
 'DEW-POINT UNCERT (CODE)',
 'RHUM (%)',
 'RHUM SOURCE',
 'RHUM UNCERT (CODE)',
 'PRESSURE (MBAR)',
 'PRESSURE SOURCE',
 'PRESSURE UNCERT (CODE)',
 'WDIR (DEGREES)',
 'WDIR SOURCE',
 'WDIR UNCERT (CODE)',
 'WSPD (M/S)',
 'WSPD SOURCE',
 'WSPD UNCERT (CODE)',
 'HVIS (M)',
 'HVIS SOURCE',
 'HVIS UNCERT (CODE)',
 'CEILHGT (M)',
 'CEILHGT SOURCE',
 'CEILHGT UNCERT (CODE)',
 'PWAT (CM)',
 'PWAT SOURCE',
 'PWAT UNCERT (CODE)',
 'AOD (UNITLESS)',
 'AOD SOURCE',
 'AOD UNCERT (CODE)',
 'ALB (UNITLESS)',
 'ALB SOURCE',
 'ALB UNCERT (CODE)',
 'LPRECIP DEPTH (MM)',
 'LPRECIP QUANTITY (HR)',
 'LPRECIP SOURCE',
 'LPRECIP UNCERT (CODE)',
 'PRESWTH (METAR CODE)        ',
 'DATE_TIME']

In [7]:
df_subset = df[['DATE (MM/DD/YYYY)', 'TIME (HH:MM)', 'DRY-BULB (C)']]

In [8]:
df_subset.columns = df_subset.columns.str.replace('(', '')
df_subset.columns = df_subset.columns.str.replace(')', '')
df_subset.columns = df_subset.columns.str.replace(' ', '_')
df_subset.columns = df_subset.columns.str.replace('/', '_')
df_subset.columns = df_subset.columns.str.replace('-', '_')
df_subset.columns = df_subset.columns.str.replace(':', '_')

In [9]:
df_subset.head()

  DATE_MM_DD_YYYY TIME_HH_MM  DRY_BULB_C
0      2004-01-01       1:00         9.0
1      2004-01-01       2:00         7.8
2      2004-01-01       3:00         7.8
3      2004-01-01       4:00         7.2
4      2004-01-01       5:00         6.1

In [10]:
df_subset['TIME_DT_H'] = df_subset['TIME_HH_MM'].str.split(':').str[0].str.zfill(2)
df_subset['TIME_DT_M'] = '00'
df_subset['TIME_DT_S'] = '00'
df_subset['TIME_DT_SPACE'] = ' '
df_subset['DRY_BULB_F'] = (df_subset['DRY_BULB_C'] * (9/5)) + 32
df_subset['TYPE'] = 'CZ_2010'
df_subset['STATION'] = 'LOS-ANGELES-DOWNTOWN-USC'
df_subset['STATION_NBR'] = '722874'
df_subset['ISO_TIME'] = df_subset[['TIME_DT_S', 'TIME_DT_H', 'TIME_DT_M']].apply(lambda x: ':'.join(x), axis=1)
df_subset['ISO_DATE_TIME'] = df_subset[['DATE_MM_DD_YYYY', 'ISO_TIME']].apply(lambda x: ' '.join(x), axis=1)

/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [11]:
df_subset.head(24)

,DATE_MM_DD_YYYY,TIME_HH_MM,DRY_BULB_C,TIME_DT_H,TIME_DT_M,TIME_DT_S,TIME_DT_SPACE,DRY_BULB_F,TYPE,STATION,STATION_NBR,ISO_TIME,ISO_DATE_TIME
0,2004-01-01,1:00,9.0,01,00,00,,48.20,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:01:00,2004-01-01 00:01:00
1,2004-01-01,2:00,7.8,02,00,00,,46.04,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:02:00,2004-01-01 00:02:00
2,2004-01-01,3:00,7.8,03,00,00,,46.04,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:03:00,2004-01-01 00:03:00
3,2004-01-01,4:00,7.2,04,00,00,,44.96,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:04:00,2004-01-01 00:04:00
4,2004-01-01,5:00,6.1,05,00,00,,42.98,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:05:00,2004-01-01 00:05:00
5,2004-01-01,6:00,6.1,06,00,00,,42.98,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:06:00,2004-01-01 00:06:00
6,2004-01-01,7:00,5.6,07,00,00,,42.08,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:07:00,2004-01-01 00:07:00
7,2004-01-01,8:00,5.6,08,00,00,,42.08,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:08:00,2004-01-01 00:08:00
8,2004-01-01,9:00,6.7,09,00,00,,44.06,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:09:00,2004-01-01 00:09:00
9,2004-01-01,10:00,9.4,10,00,00,,48.92,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:10:00,2004-01-01 00:10:00
10,2004-01-01,11:00,11.7,11,00,00,,53.06,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:11:00,2004-01-01 00:11:00
11,2004-01-01,12:00,12.8,12,00,00,,55.04,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:12:00,2004-01-01 00:12:00
12,2004-01-01,13:00,14.4,13,00,00,,57.92,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:13:00,2004-01-01 00:13:00
13,2004-01-01,14:00,15.6,14,00,00,,60.08,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:14:00,2004-01-01 00:14:00
14,2004-01-01,15:00,16.7,15,00,00,,62.06,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:15:00,2004-01-01 00:15:00
15,2004-01-01,16:00,16.7,16,00,00,,62.06,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:16:00,2004-01-01 00:16:00
16,2004-01-01,17:00,16.1,17,00,00,,60.98,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:17:00,2004-01-01 00:17:00
17,2004-01-01,18:00,14.9,18,00,00,,58.82,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:18:00,2004-01-01 00:18:00
18,2004-01-01,19:00,13.8,19,00,00,,56.84,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:19:00,2004-01-01 00:19:00
19,2004-01-01,20:00,12.8,20,00,00,,55.04,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:20:00,2004-01-01 00:20:00
20,2004-01-01,21:00,12.0,21,00,00,,53.60,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:21:00,2004-01-01 00:21:00
21,2004-01-01,22:00,11.8,22,00,00,,53.24,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:22:00,2004-01-01 00:22:00
22,2004-01-01,23:00,11.0,23,00,00,,51.80,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:23:00,2004-01-01 00:23:00
23,2004-01-01,0:00,11.0,00,00,00,,51.80,CZ_2010,LOS-ANGELES-DOWNTOWN-USC,722874,00:00:00,2004-01-01 00:00:00

In [12]:
FILTER = ['ISO_DATE_TIME',
          'DRY_BULB_F',
          'TYPE',
          'STATION', 
          'STATION_NBR']

df = df_subset[FILTER]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 5 columns):
ISO_DATE_TIME    8760 non-null object
DRY_BULB_F       8760 non-null float64
TYPE             8760 non-null object
STATION          8760 non-null object
STATION_NBR      8760 non-null object
dtypes: float64(1), object(4)
memory usage: 342.3+ KB